In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('/Users/mudassirmohammed/AB_CLASSIFICATION/last.csv')

In [49]:
df.head()

,Unnamed: 0,Index,Review,Cleaned_Review,Cleaned_Name,Severity,Urgency,Customer_Satisfaction,Review_Days,Response_Days,Predicted_Category,Service Issue,Food Quality,Atmosphere,Value for Money,Hygiene,Food Options
0,0.0,0.0,"Stop eating at this place, I have visited bang...",stop eating place visited bangalores nd punes ...,pramod kumar,High,Urgent,No Response,180,-1,['Food Quality' 'Atmosphere' 'Hygiene'],0,1,1,0,1,0
1,1.0,1.0,Food 2/5\nService 2/5\nAmbience 2/5 …,food service ambience,abhinav deep,Medium,Non-Urgent,High Satisfaction,365,365,['Atmosphere' 'Service Issue' 'Food Quality' '...,1,1,1,0,0,1
2,2.0,2.0,Idiotic varieties for the price they have char...,idiotic varieties price charged varieties boil...,vijay nammi,High,Urgent,No Response,30,-1,['Food Options'],0,0,0,0,0,1
3,3.0,3.0,"I am posting this live now, this is one of the...",posting live one worst places dont visit pathe...,surya ajay,High,Urgent,High Satisfaction,365,365,['Service Issue' 'Food Quality' 'Atmosphere'],1,1,1,0,0,0
4,4.0,4.0,"We are pure vegetarians, I ordered veg biryani...",pure vegetarians ordered veg biryani swiggy go...,sai hithesh,Low,Non-Urgent,No Response,180,-1,['Food Quality'],0,1,0,0,0,0

In [50]:
df.isnull().sum()

Unnamed: 0               2
Index                    2
Review                   0
Cleaned_Review           2
Cleaned_Name             7
Severity                 0
Urgency                  0
Customer_Satisfaction    2
Review_Days              0
Response_Days            0
Predicted_Category       0
Service Issue            0
Food Quality             0
Atmosphere               0
Value for Money          0
Hygiene                  0
Food Options             0
dtype: int64

In [55]:
from datetime import datetime, timedelta
import pandas as pd
def convert_days_to_date(days):
    """
    Convert a number of days into a date format.

    Parameters:
    days (int): The number of days to convert.

    Returns:
    str: The date in 'YYYY-MM-DD' format.
    """
    # Calculate the new date
    new_date = datetime.now() - timedelta(days=days)
    # Return the date formatted as 'YYYY-MM-DD'
    return new_date.strftime('%Y-%m-%d')

# Example usage:
days_input = 1  # Example: converting 10 days into a date
result_date = convert_days_to_date(days_input)
print(f"The date {days_input} days from today is: {result_date}")

The date 1 days from today is: 2024-11-04

In [54]:
df['Review_Date'] = df['Review_Days'].apply(convert_days_to_date)
df['Review_Date'].value_counts()
df.to_csv('last.csv', index=False)

In [1]:
# df['Response_Date'] = pd.to_datetime(df['Response_Date'])
# df['Response_Date'].value_counts()

In [ ]:
from datetime import datetime
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [ ]:
def fetch_recent_reviews(recent_days):
    try:
        conn = mysql.connector.connect(
            host='localhost',         # e.g., 'localhost'
            database='restaurant_review',
            user='root',     # e.g., 'root'
            password='MudassirL6'   # Your MySQL password
        )
        if conn.is_connected():
            # Calculate the date 10 days ago
            ten_days_ago = datetime.now() - timedelta(days=recent_days)
            print(ten_days_ago)
            query = "SELECT * FROM restaurant_complaints WHERE timestamp <= %s"
            cursor = conn.cursor()
            cursor.execute(query, (ten_days_ago,))
            result = cursor.fetchall()
            columns = [i[0] for i in cursor.description]
            reviews_df = pd.DataFrame(result, columns=columns)
            cursor.close()
            return reviews_df
        
        
    except Error as e:
        print(f"Error: {e}")
        return pd.DataFrame()  # Return an empty DataFrame in case of error
    finally:
        if conn.is_connected():
            conn.close()

In [ ]:
fetch_recent_reviews(10)

2024-10-26 16:14:25.276702

,id,timestamp,complaint,category,severity,urgency,Service Issue,Food Quality,Atmosphere,Value for Money,Hygiene,Food Options
0,1,2024-05-09,stop eating place visited bangalores nd punes ...,['Food Quality' 'Atmosphere' 'Hygiene'],High,Urgent,0,0,0,0,0,0
1,2,2023-11-06,food service ambience,['Atmosphere' 'Service Issue' 'Food Quality' '...,Medium,Non-Urgent,0,0,0,0,0,0
2,3,2024-10-06,idiotic varieties price charged varieties boil...,['Food Options'],High,Urgent,0,0,0,0,0,0
3,4,2023-11-06,posting live one worst places dont visit pathe...,['Service Issue' 'Food Quality' 'Atmosphere'],High,Urgent,0,0,0,0,0,0
4,5,2024-05-09,pure vegetarians ordered veg biryani swiggy go...,['Food Quality'],Low,Non-Urgent,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8393,8406,2019-11-07,place food lovers enjoy food apart dishes rest...,['Value for Money' 'Food Quality' 'Food Option...,Low,Non-Urgent,0,1,1,1,0,1
8394,8407,2020-11-06,good place visit friends family customised foo...,['Value for Money' 'Atmosphere' 'Food Options'...,Low,Non-Urgent,0,1,1,1,0,1
8395,8408,2017-11-07,food good service also good compare service co...,['Food Quality' 'Value for Money' 'Food Options'],Low,Non-Urgent,0,1,0,1,0,1
8396,8409,2023-11-06,nice place hangout small team upto members goo...,['Value for Money' 'Atmosphere' 'Food Quality'...,Low,Non-Urgent,1,1,1,1,0,1
8397,8410,2017-11-07,best place foodies love grilled food went fami...,['Value for Money' 'Food Options' 'Food Qualit...,Low,Non-Urgent,0,1,1,1,0,1